/* RESET de styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Style global */
body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #333;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar */
.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    margin: auto;
    margin-top: 25px;
    padding: 10px 10px 10px 10px;
    background-color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 20px;
}

.navbar ol {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px 0;
    background-color: #333;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    background-color: transparent;
    transition: background-color 0.6s ease-in-out;
}

.navbar ol li a:hover{
    color: #333;
    background-color: lightgrey;
    border-radius: 20px;
    transition: background-color 0.6s ease-in-out;
}

/* Sections (100vh pour chaque page) */
section {
    min-height: 100vh;  /* 100% de la hauteur de la fenêtre */
    padding: 50px 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}

/* Accueil */
#accueil {
    background: rgb(212,211,220);
    background: radial-gradient(circle, rgba(212,211,220,1) 0%, rgba(56,68,80,1) 87%);
    text-align: center;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

#accueil h2 {
    font-size: 80px;
}

#accueil p {
    font-size: 30px;
    text-align: justify;
}

#gauche {
    width: 50vw;
    padding-right: 5vw;
}

#droite {
    width: 15vw;
}

#competences_bloc {
    background-color: black;
    width: 30vw;
    height: 15vw;
    padding: 2.5vw;
    border-radius: 15px;
    margin-left: 2vw;
}

.competences {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 250px);
    gap: 16%;
}

#competences{
    color: #D4D3DC;
    background: radial-gradient(circle, rgba(212,211,220,1) 0%, rgba(56,68,80,1) 87%);
}

#competences h3 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
}

#competences li {
    font-size: 20px;
    text-align: justify;
}

#realisations{
    background: radial-gradient(circle, rgba(212,211,220,1) 0%, rgba(56,68,80,1) 87%);
}

#realisations h2 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
}

#realisations p {
    font-size: 20px;
    text-align: justify;
}

#formations{
    background: radial-gradient(circle, rgba(212,211,220,1) 0%, rgba(56,68,80,1) 87%);
}

/* Contact */
#contact {
    background: radial-gradient(circle, rgba(212,211,220,1) 0%, rgba(56,68,80,1) 87%);
    display: flex;
    justify-content: center;
    height: 40vh;
}

.container {
    display: flex;
    width: 40%; /* Ajuste la largeur totale */
    max-width: 900px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-left {
    background-color: #E1A624;
    padding: 30px;
    flex: 1; /* Pour équilibrer les sections */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.contact-right {
    background-color: #D4D3DC;
    padding: 30px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    color: #444;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: none;
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #444;
}

label::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}

